.primary_theme{
    background-color:#1C9963 !important;
    color:white  !important;
}

.left_align{
    float:left;
    padding-left: 15px;
    margin-bottom:0px;
}
.text_search{
    width:calc(100% - 155px);
}



.font_cursive{
    font-family: cursive;
}

.clear_float{
    clear: both;
}

